html, body{
 margin: 0;
 padding: 0; 
 border: none;
}

body {
 font-family:Arial,  sans-serif;
 line-height:1.5;
 font-size:16px;
 background: #fff;
 color: #000;
 word-wrap: break-word;
 -webkit-text-size-adjust: none;
 max-width: 720px;
 min-width: 240px;
 margin: 0 auto;
}

h1, h2, h3, h4, h5, h6{ font-weight: normal; }

p img { float: left; margin: 0 10px 5px 0; padding: 0; }

img { border: 0; max-width: 100%; }

table { width:auto; border-collapse: collapse;border-spacing: 0; }