<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Landlord</title>
	<meta name="viewport" content="width=device-width, initial-scale=1, minimal-ui">
	<meta name="mobile-web-app-capable" content="yes">
	<meta name="theme-color" content="#4A90E2">
	<link rel="stylesheet" type="text/css" href="css/base.css">
	<script src="js/react.js"></script>
    <script src="js/react-dom.js"></script>
    <script src="js/browser.js"></script>
    <script src="js/jquery.min.js"></script>
    <script type="text/javascript">
    	if (localStorage.getItem("access_token") == null) {
			location.href = "sign_in.html";
    	}
    </script>
    <style>
    	body {background-color: #e6e6e6}
    	#header {
    		background-color: #4A90E2;
    		padding: 0;
    		margin: 0;
    		display: block;
    		width: 100%;
    		line-height: 44px;
    		color: #FFF;
    	}
    	#header img{margin: 11px; float: right;}
    	h1 {font-size: 14px; margin:0; padding: 0; margin-left: 21px;}

        #container {
            padding: 10px;
            margin: 0;
            font-size: 12px;
        }

        textarea, input {
            width: 100%;
            padding: 5px;
            background-color: #FFF;
            box-sizing: border-box;
        }

        input {
            margin-top: 20px;
        }

        #container p {
            color: #9b9b9b;
        }

        #shortlink {
            width: 100%;
            background-color: #FFF;
            display: inline-block;
            text-align: center;
            line-height: 250%;
        }

    </style>
</head>
<body>
	<div id="header">
		<img src="images/send.png" width="22" height="22" onclick="document.getElementById('submit').click()">
		<h1>Send Application</h1>
	</div>
    
    <div id="container">
        <script type="text/babel">
            var SendForm = React.createClass({
                getInitialState: function() {
                    return {content: "Please use the link below to submit your application. Thanks.\nhttps://bit.ly/17hsg81s", recipient: ""};
                },
                handleSubmit: function(e){
                    e.preventDefault();

                    if (!this.state.recipient){
                        alert("Please enter the recipient.");
                        return;
                    }

                    $.ajax({
                        url: "/send",
                        type: "POST",
                        data: this.state,
                        headers: {
                            Authorization: "Bearer " + localStorage.getItem("access_token")
                        }
                    })
                    .success(function(){
                        this.setState({recipient: ""});
                    }.bind(this))
                    .fail(function(){
                        alert("Send mail failed. Please check your form and try again later.")
                    });
                },
                handleContentChange: function(e) {
                    this.setState({content: e.target.value});
                },
                handleRecipientChange: function(e) {
                    this.setState({recipient: e.target.value});
                },
                render: function() {
                    return (
                        <form onSubmit={this.handleSubmit} id="form">
                            <textarea rows="5" value={this.state.content} onChange={this.handleContentChange}></textarea>
                            <input type="text" placeholder="Recipient's email or phone number" 
                                value={this.state.recipient} 
                                onChange={this.handleRecipientChange}/>
                            <p>Or, just copy the link below</p>
                            <p id="shortlink">https://bit.ly/17hsg81s</p>
                            <input type="submit" id="submit" style={{display:"none"}}/>
                        </form>
                    );
                }
            });
            ReactDOM.render(
                <SendForm />,
                document.getElementById("container")
            );
        </script>
        
    </div>
</body>